@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --fake-white: #EAF1F5;
  --accent: #52006A;
  --salmon: #ff7f77;
  --pink: #fcbcd6;
  --yellow: #fcbc04;
  --yellow-green: #6cf4cc;
}

* {
  margin: 0;
  padding: 0%;
  font-family: 'Poppins', sans-serif;
  transition: ease 200ms;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--salmon);
}


// Nav //

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 3em;
  top: 0;
  background-color: var(--fake-white);
  border-bottom: 10px solid var(--salmon);

  .nav-item {
    display: flex;
    align-items: center;
    padding: 0 1.7em;
  }

  img {
    height: 40px;
  }

  .search-bar {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: var(--fake-white);
    border-style: solid;
    border-radius: .4em;
    border-top: none;
    border-bottom: none;
    border-left: 3px solid var(--salmon);
    border-right: 3px solid var(--salmon);
    width: 20vw;
    height: 2em;
    overflow-x: hidden;

    .search-bar__icon {
      padding: 0 10px;
      height: 2em;
      // background-color: red;

      &:first-child {
        display: flex;
        align-items: center;
      }
    }

    .search-bar__input {
      background-color: var(--fake-white);
      // background-color: red;
      border: none;
      width: 28vw;
      
      &::placeholder {
        font-size: 1.2em;
        padding: 0;
      }

      &:focus {
        outline: none;
      }
    }
  }

  ul {
    list-style: none;
    gap: 10px;

    a {
      text-decoration: none;
      color: black;
      border-radius: 1em;
      transition: 150ms;
      padding: 5px 10px;
    }

    & :hover {
      border-radius: .5em;
      color: white;
      background-color: var(--salmon);
    }
  }

  .burger-icon,
  .burger-menu {
    display: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 1000px) {
    .search-bar {
      position: relative;
      width: 13em;
    }

    img {
      display: none;
    }
  }

  @media only screen and (max-width: 705px) {
    .search-bar {
      display: none;
    }
  }

  // PHONE
  @media only screen and (max-width: 580px) {
    left: 0;
    right: 0;

    .nav-links {
      display: none;
    }

    .burger-icon {
      display: flex;
      position: relative;
      right: 1em;
    }

    .nav-item {
      padding: 0 .5em;
    }

  .burger-menu-panel {
      display: flex;
      position: absolute;
      justify-content: center;
      background-color: #ff7f77;
      top: 3em;
      width: 100%;
      height: 10em;
      z-index: 2;

      .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;

        a,
        li {
          list-style-type: none;
          text-decoration: none;
          font-size: 24px;
          color: black;
        }
      }
    }
  }
}


// HERO //

.Landing {
  background-color: var(--pink);
  // outline: 1px solid red;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero-logo {
    position: absolute;
    width: 60em;
    top: 3.7em;
  }

  .hero-section {
    display: flex;
    gap: 4em;

    .hero-left {
      
      @media only screen and (min-width: 1000px) {
        width: 40em;
      }

      h1 {
        margin: .6em 0;
      }

      h2 {
        align-self: center;
        font-size: 1.3em;
        line-height: 1.1em;
      }
    }

    .hero-right {
      display: flex;
      justify-content:flex-end;
      align-items:flex-end;

      img {
        height: 20em;
        border-radius: 1em;
      }
    }
  }

  @media only screen and (max-width: 1000px) {

  .top-bar {
    width: 100%;
  }

  .hero-logo {
    display: none;
  }

    .hero-section {
      flex-direction: column-reverse;

      .hero-left {
        padding: 1em;
        margin-top: 5em;
      }

      .hero-right {
        padding: 1em;
        justify-content: center;

      img {
        position: absolute;
        top: 4em;
        height: 15em;
        margin: 0%;
        padding: 0% ;
        }
      }
    }
  }
}

.bottom-bar_img {
  margin-top: 3em;
  margin-bottom: -0.5em;
}

.ether-stats {
  display: flex;
  margin-top: 2em;
  width: 90%;
  gap: 1.2em;
  line-height: 1.1em;

  i {
    padding-left: 5px;
  }

  b {
    font-size: 1.2em;
    padding: 4px;
    margin: 0;
  }

  p {
    // color: var(--accent);
    padding: 4px;
    margin: 0;
  }
}


// Social //

.Social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: 1em;
  font-size: 20px;

  .social-icons {
    display: flex;
    gap: 10px;

    .icon {
    text-decoration: none;
    color: var(--fake-white);
    font-size: 2.4em;
    }
  }

  .social-text p {
    margin: 0;
  }
}


// Footer //

.footer-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: .8em 0;
  bottom: 0;

  .footer-item {
      display: flex;
      padding: 0 2em;
      gap: 2em;

      a {
        text-decoration: none;
        color: black;
      }
  }

  @media only screen and (max-width: 500px) {
    margin-top: 1em;
    position: relative;
    flex-direction: column;
  }
}

// Clases aplicadas por Javascript //

.hidden {
  display: none;
}